.intro-section {
  &__description {
    font-size: 72px;
    line-height: 86px;
    margin-bottom: 34px;
  }
  
  &__title{
    font-size: 150px;
    line-height: 140px;
    margin-bottom: 110px;
  }
}

