%link {
  display: inline-block;
  text-decoration: none;
  color: $primary-white-color;
  text-transform: uppercase;
}

%list {
  margin: 0;
  padding: 0;
  list-style: none;
}

%button {
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}