$main-font-stack: 'Montserrat', sans-serif;
$main-italic-style: 'Kaushan Script','sans-serif';
$secondary-font-stack: Roboto, sans-serif;

$primary-white-color: #fff;
$primary-accent-color: #fce38a;
$secondary-accent-color: #f38181;
$primary-dark-color: #333;
$services-icon-color: #95e1d3;
$primary-grey-color: #999;
$primary-border-color: #e7e7e7;