@media screen and (min-width:748px){
  .wrapper{
    width: 748px;
    padding: 0 40px;
  }

  header{
    width: 768px;
    background-image: url(../img/background-tablet.png);
    background-position: left; 
    /* не понимаю почему бекграунд смещен вправо */
    padding-top: 38px;
  }

  .header-flex-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  h1{
    order: 1;
  }

  .links{
    order: 2;
    margin-bottom: 138px;
  }

  .log-in{
    margin-left: 0px;
  }

  .sign-up{
    margin-right: 0px;
  }

  .header-caption{
    font-size: 52px;
    line-height: 62px;
    letter-spacing: 0.05em;
    margin-bottom: 22px;
  }

  .header-descr{
    font-size: 24px;
    line-height: 29px;
    letter-spacing: normal;
    margin-bottom: 30px;
  }

  .header-button{
    width: 226px;
    margin: 0 auto;
  }

  /* MAIN SECTION */

  .section-title{
    margin-bottom: 30px;
  }

  .partners-list {
    display: flex;
    justify-content: space-between;
    width: 492px;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .partner{
    width: 226px;
  }

  .main-button{
    width: 192px;
    margin: 0 auto;
  }
}

@media screen and (min-width:940px){
  .wrapper{
    width: 940px;
    padding: 0;
    margin: 0 auto;
  }

  header{
    width: 1440px;
    background-image: url(../img/background-desktop.png); 
    /* не понимаю почему бекграунд смещен вправо */

    padding-top: 38px;
  }

  .header-caption{
    width: 500px;
    margin: 0 auto;
    letter-spacing: -0.02em;
  }

  main{
    width: 1440px;
  }

  .partners-list {
    width: 100%;
  }

  .main-section{
    padding-bottom: 72px;
  }

}
